process {
  withLabel: 'minimap2_container' {
    label = 'cloud'
    container = 'docker://nanozoo/minimap2:2.24--82ff7f3'
  }
  withLabel: 'minimap2_samtools_container' {
    container = 'docker://michaelfranklin/minimap2samtools:0.7.17-1.10'
  }
  withLabel: 'minimap2_samtools' {
    cpus = 32
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'minimap2_index' {
    cpus = { 16 * task.attempt }
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'minimap2' {
    cpus = 32
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
}
