/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


/*
  Most of the params I have defines are based on the
  boolean flag 'toggle_rna' which is not accessible
  in the scope of this config file. It is resolved
  in the script pre-amble
*/


process {

    withName: 'ABRA2' {
        ext.args   = [
            ""  // keep for option to add args
        ].join( ).trim()
    }

    withName: 'CRAM_TO_BAM_ABRA2' {
        ext.args = "-b"
    }

    withName: 'BAM_TO_CRAM_ABRA2' {
        ext.when         = ( params.save_abra2_realigned )
        ext.prefix       = { "${meta.id}.abra2_realigned" }
        publishDir       = [
            // Never publish if BAM only should be published
            //enabled: !params.save_output_as_bam,
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/abra2/${meta.id}/" },
            pattern: "*{cram,crai}"
        ]
    }

}
