singularity.enabled = true
process {
  withLabel: 'samtools_container' {
    container = 'docker://staphb/samtools:1.13'
  }
  withLabel: 'samtools_faidx' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: 'samtools_index' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: 'samtools_rmdup' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: 'samtools_sort' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: 'samtools_stats' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: 'samtools_view' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
containerOptions = "-B ${PWD}"
}
