singularity.enabled = true
process {
  withLabel: 'picard2_container' {
    label = 'cloud'
    container = 'docker://broadinstitute/picard:2.21.4'
  }
  withLabel: 'picard2_collect_insert_size_metrics' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'picard2_collect_rna_seq_metrics' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'picard2_collect_vcf_metrics' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'picard2_collect_wgs_metrics_nzc' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'picard2_create_seq_dict' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: 'picard2_mark_duplicates' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
containerOptions = "-B ${PWD}"
}
