singularity.enabled = true
process {
  withLabel: star_container {
    label = 'cloud'
    container = 'docker://mgibio/star:2.7.0f'
  }
  withLabel: star_index {
    cpus = 1
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: star_map {
    cpus =  1
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
containerOptions = "-B ${PWD}"
}
