process {
  withLabel: arriba_container {
    label = 'cloud'
    container = 'docker://uhrigs/arriba:2.3.0'
  }
  withLabel: arriba {
    cpus = 32
    memory = { 16.GB.plus(16.GB * task.attempt)}
  }
  withLabel: arriba_star_map {                                                                                                                                                                                                        
    cpus =  32                                                                                                                                                                                                                                
    memory = { 32.GB.plus(32.GB * task.attempt)}                                                                                                                                                                                              
  }
  withLabel: arriba_star_index {                                                                                                                                                                                                 
    cpus = 16                                                                                                                                                                                                                                 
    memory = { 32.GB.plus(32.GB * task.attempt)}                                                                                                                                                                                              
  }
}
