singularity.enabled = true
process {
  withLabel: hlaprofiler_container {
    label = 'cloud'
    container = 'docker://benjaminvincentlab/hlaprofiler:1.10.2'
  }
  withLabel: hlaprofiler_predict {
    cpus = { 1  * task.attempt }
    memory = { 1.GB.plus(1.GB * task.attempt)}
  }
containerOptions = "-B ${PWD}"
}
