singularity.enabled = true
process {
  withLabel: 'pyclonevi_container' {
    container = 'docker://hub.ncsa.illinois.edu/phyloflow/pyclone-vi:latest'
    label = 'cloud'
  }
  withLabel: 'pyclonevi_fit' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(1.GB * task.attempt)}
  }
  withLabel: 'pyclonevi_write_results_file' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(1.GB * task.attempt)}
  }
containerOptions = "-B ${PWD}"
}
