singularity.enabled = true
process {
  withLabel: 'bwa_container' {
    label = 'cloud'
    container = 'docker://fredhutch/bwa:0.7.17'
  }
  withLabel: 'bwa_samtools_container' {
    container = 'docker://michaelfranklin/bwasamtools:0.7.17-1.10'
  }
  withLabel: 'bwa_samtools' {
    cpus = 2
    memory = { 2.GB.plus(2.GB * task.attempt)}
  }
  withLabel: 'bwa_index' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB.plus(2.GB * task.attempt)}
  }
  withLabel: 'bwa_mem' {
    cpus = 2
    memory = { 2.GB.plus(2.GB * task.attempt)}
  }
containerOptions = "-B ${PWD}"
}
