process {
  withLabel: 'virdetect_container' {                                                                
    label = 'cloud'
    container = 'docker://spvensko/virdetect:0.9.2'                                                 
    cpus = 1                                                                                        
    memory = { 4.GB.plus(4.GB * task.attempt)}                                                      
  }    
}
