process {
  withLabel: 'bwa_container' {
    label = 'cloud'
    container = 'docker://fredhutch/bwa:0.7.17'
  }
  withLabel: 'bwa_samtools_container' {
    container = 'docker://michaelfranklin/bwasamtools:0.7.17-1.10'
  }
  withLabel: 'bwa_samtools' {
    cpus = 32
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'bwa_index' {
    cpus = { 16 * task.attempt }
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'bwa_mem' {
    cpus = 32
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
}
