process {
  withLabel: mixcr_container {
    container = 'docker://benjaminvincentlab/mixcr:3.0.13.1'                                                
  }
  withLabel: mixcr_align {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: mixcr_assemble {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: mixcr_export {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: mixcr_shotgun {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
}
