process {
  withLabel: 'htslib_container' {
    label = 'cloud'
    container = 'docker://tedbrookings/htslib:1.9'
  }
  withLabel: 'htslib_bgzip' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'htslib_tabix' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
}
