params.project_identifier = ''
params.project_dir = ''
params.fq_dir = "${params.project_dir}/fastqs"
params.global_fq_dir = ''
params.shared_dir = ''
params.metadata_dir = "${params.project_dir}/metadata"
params.indices_out_dir = "${params.project_dir}/indices"
params.ref_dir = "${params.project_dir}/references"
params.output_dir = "${params.project_dir}/outputs"
params.dsp_output_dir = "${params.output_dir}/dataset_prep"
params.analyses_dir = "${params.output_dir}/analyses"
params.batch_dir = "${params.output_dir}/batch"
params.gene_sigs_dir = "${params.batch_dir}/gene_signatures"
params.samps_out_dir = "${params.output_dir}/samples"
params.qc_out_dir = "${params.output_dir}/qc"
params.molecule_filter = ''
params.separator = '\t'
params.abra2_cadabra_parameters = ''
params.abra2_cadabra_suffix = '.cadabra'
params.abra2_parameters = ''
params.bcftools_concat_parameters = '-a'
params.bcftools_filter_parameters = '-i \'FILTER="PASS"\''
params.bcftools_index_germline_parameters = ''
params.bcftools_index_parameters = '-t'
params.bcftools_index_phased_germline_parameters = ''
params.bcftools_index_phased_tumor_parameters = ''
params.bcftools_index_somatic_parameters = ''
params.bcftools_index_tumor_parameters = ''
params.bcftools_norm_parameters = '-c s'
params.bcftools_reheader_germline_parameters = ''
params.bcftools_reheader_somatic_parameters = ''
params.bcftools_stats_parameters = ''
params.bcftools_view_parameters = ''
params.bwa_index_parameters = ''
params.bwa_mem_parameters = ''
params.cta_self_gene_list = "${params.ref_dir}/cta_and_self_antigen.mus_musculus.gene_list"
params.ctat_ref = "${params.ref_dir}/Mouse_gencode_M24_CTAT_lib_Apr062020.plug-n-play"
params.dbsnp_ref = "${params.ref_dir}/mm10.dbsnp.vcf.gz"
params.deepvariant_model_type = 'WES'
params.deepvariant_parameters = ''
params.deepvariant_suffix = '.deepv'
params.dna_ref = "${params.ref_dir}/GRCm38.primary_assembly.genome.fa"
params.dummy_file = "${params.ref_dir}/dummy_file"
params.gatk_apply_bqsr_parameters = ''
params.gatk_base_recalibrator_parameters = ''
params.gatk_filter_mutect_calls_parameters = ''
params.gatk_filter_mutect_calls_suffix = '.gfilt'
params.gatk_index_feature_file_parameters = ''
params.gatk_learn_read_orientation_model_parameters = ''
params.get_pileup_summaries_parameters = ''
params.gevequant_general_ref = "${params.ref_dir}/Mmus38.no_chr.txt"
params.gff = "${params.ref_dir}/gencode.vM25.annotation.gff3"
params.gtf = "${params.ref_dir}/gencode.vM25.annotation.with.mervs.gtf"
params.hlaprofiler_parameter = ''
params.known_sites_ref = "${params.ref_dir}/mm10.dbsnp.vcf.gz"
params.lens_out_dir = "${params.output_dir}/lens"
params.lenstools_add_erv_metadata_parameters = ''
params.lenstools_add_fusion_metadata_parameters = ''
params.lenstools_add_indel_metadata_parameters = ''
params.lenstools_add_snv_metadata_parameters = ''
params.lenstools_add_viral_metadata = ''
params.lenstools_filter_ervs_by_rna_coverage_parameters = ''
params.lenstools_filter_expressed_ervs_parameters = '-t'
params.lenstools_filter_expressed_self_parameters = '-p 90'
params.lenstools_filter_expressed_variants_parameters = '-p 75'
params.lenstools_filter_isolated_variants_parameters = ''
params.lenstools_filter_virdetect_by_counts_parameters = ''
params.lenstools_filter_viruses_by_rna_coverage_parameters = ''
params.lenstools_get_expressed_ervs_bed_parameters = ''
params.lenstools_get_expressed_selfs_bed_parameters = ''
params.lenstools_get_expressed_transcripts_bed_parameters = ''
params.lenstools_get_expressed_viral_bed_parameters = ''
params.lenstools_get_fusion_read_count_parameters = ''
params.lenstools_get_fusion_transcripts_bed_parameters = ''
params.lenstools_make_erv_peptides_parameters = ''
params.lenstools_make_pyclonevi_inputs_parameters = ''
params.lenstools_make_viral_peptides_parameters = ''
params.mutect2_af_vcf = params.dummy_file
params.mutect2_parameters = '--independent-mates'
params.mutect2_pon_vcf = "${params.ref_dir}/mm10.dbsnp.vcf.gz"
params.mutect2_suffix = '.mutect2'
params.neosplice_augmented_splice_graph_build_parameters = ''
params.neosplice_convert_bams_to_fasta_parameters = ''
params.neosplice_convert_bwt_format_parameters = ''
params.neosplice_get_max_kmer_length_parameters = ''
params.neosplice_get_splice_junctions_parameters = ''
params.neosplice_kmer_graph_inference_parameters = ''
params.neosplice_kmer_search_bwt_parameters = ''
params.neosplice_msbwt_is_parameters = ''
params.neosplice_ref = ''
params.neosplice_search_bam_parameters = ''
params.netmhcpan_parameters = ''
params.normal_control_quant = ''
params.peptidome_ref = "${params.ref_dir}/peptidome.mus_musculus"
params.picard_collect_rna_seq_metrics_parameters = ''
params.picard_collect_vcf_metrics_parameters = ''
params.picard_mark_duplicates_parameters = ''
params.picard_strand_specificity = 'NONE'
params.pyclonevi_fit_parameters = ''
params.pyclonevi_write_results_file_parameters = ''
params.samtools_faidx_fetch_parameters = ''
params.samtools_faidx_fetch_somatic_folder_parameters = ''
params.samtools_faidx_parameters = ''
params.samtools_index_parameters = ''
params.samtools_sort_parameters = ''
params.samtools_stats_parameters = ''
params.seqtk_parameters = ''
params.seqtk_read_count = '10000000'
params.seqtk_sample_suffix = '.qc'
params.seqtk_seed = '1234'
params.seqtk_subseq_parameters = ''
params.sequenza_gc_wiggle_parameters = ''
params.sequenza_gc_wiggle_window_size = '50'
params.sequenza_seqz_binning_window_size = '50'
params.sites_file = ''
params.snpeff_ann_ref = "${params.ref_dir}/GRCm38.86"
params.snpsift_indel_filter_parameters = "(ANN[*].EFFECT has 'conservative_inframe_insertion') || (ANN[*].EFFECT has 'conservative_inframe_deletion') || (ANN[*].EFFECT has 'disruptive_inframe_insertion') || (ANN[*].EFFECT has 'disruptive_inframe_deletion') || (ANN[*].EFFECT has 'frameshift_variant')"
params.snpsift_snv_filter_parameters = "ANN[*].EFFECT has 'missense_variant'"
params.star_aln_quant_parameters = ''
params.star_alt_capture = 'toTranscriptome'
params.star_index_parameters = ''
params.star_map_parameters = "--quantMode TranscriptomeSAM --outSAMtype BAM SortedByCoordinate --twopassMode Basic --outSAMunmapped Within"
params.star_salmon_ref = params.dna_ref
params.starfusion_parameters = '--examine_coding_effect --FusionInspector validate'
params.strelka2_parameters = ''
params.strelka2_suffix = '.strelka2'
params.targets_bed = "${params.ref_dir}/mm10_exome.bed"
params.tcga_tx_summary = ''
params.trim_galore_hlap_parameters = '--hardtrim5 50 --paired'
params.trim_galore_parameters = '--paired --fastqc'
params.tumor_type = ''
params.viral_cds_gff = "${params.ref_dir}/virdetect.cds.gff"
params.viral_cds_ref = "${params.ref_dir}/virus.cds.fa"
params.viral_pep_ref = "${params.ref_dir}/virus.pep.fa"
params.virdetect_viral_ref = "${params.ref_dir}/virus_masked_mm10.fa"
params.whatshap_parameters = ''
params.whatshap_stats_parameters = ''
params.whatshap_tumor_parameters = '--ignore-read-groups'
params.protein_ref = "${params.ref_dir}/gencode.vM25.pc_translations.fa"
params.hla_call_method = 'rna'
params.species = 'mouse'
params.antigen_garnish_data_dir = "${params.ref_dir}/antigen.garnish"
