process {
  withLabel: sequenza_container {
    label = 'cloud'
    container = 'docker://nkrumm/sequenza-nf:0.1--0e2e591'
  }
  withLabel: sequenza_bam2seqz {
    cpus = 24
    memory = { 12.GB.plus(12.GB * task.attempt)}
  }
  withLabel: sequenza_extract {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: sequenza_fit {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: sequenza_result {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: sequenza_seqz_binning {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: sequenza_wiggle {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
}
