singularity.enabled = true
process {
  withLabel: salmon_container {
    container = 'docker://combinelab/salmon:1.1.0'
    label = 'cloud'
  }
  withLabel: salmon_index {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: salmon_map {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: salmon_aln {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
containerOptions = "-B ${PWD}"
}
