process {
  withLabel: antigen_garnish_container {
    label = 'cloud'
    container = 'docker://andrewrech/antigen.garnish:2.3.0'
  }
  withLabel: antigen_garnish_foreignness {
    cpus = { 1 * task.attempt }
    memory = { 4.GB.plus(4.GB * task.attempt)}
  }
  withLabel: antigen_garnish_dissimilarity {
    cpus = { 1 * task.attempt }
    memory = { 4.GB.plus(4.GB * task.attempt)}
  }
}
