singularity.enabled = true
process {
  withLabel: 'abra2_container' {
    label = 'cloud'
    container = 'docker://aphoid/abra2:2.20'
  }
  withLabel: 'abra2_cadabra' {
    cpus = 1
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: 'abra2_realign' {
    cpus = 1
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
  withLabel: 'abra2_realign_rna' {
    cpus = 1
    memory = { 1.GB.plus(0.GB * task.attempt)}
  }
containerOptions = "-B ${PWD}"
}
