process {
  withLabel: 'snpeff_container' {
    label = 'cloud'
    container = 'docker://resolwebio/snpeff:latest'
  }
  withLabel: 'snpeff_download' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB.plus(1.GB * task.attempt)}
  }
  withLabel: 'snpeff_ann' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB.plus(2.GB * task.attempt)}
  }
  withLabel: 'snpeff_ann_germline' {
    cpus = { 2 * task.attempt }
    memory = { 8.GB.plus(8.GB * task.attempt)}
  }
  withLabel: 'snpeff_filter' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB.plus(2.GB * task.attempt)}
  }
}
