process {
  withLabel: 'samtools_container' {
    container = 'docker://staphb/samtools:1.13'
  }
  withLabel: 'samtools_faidx' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'samtools_index' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'samtools_rmdup' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'samtools_sort' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'samtools_stats' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'samtools_view' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
}
