process {
  withLabel: 'gatk4_container' {
    label = 'cloud'
    container = 'docker://broadinstitute/gatk:4.1.6.0'
  }
  withLabel: 'gatk4_apply_bqsr' {
    cpus = { 4 * task.attempt }
    memory = { 12.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'gatk4_base_recalibrator' {
    cpus = { 4 * task.attempt }
    memory = { 12.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'gatk4_filter_mutect_calls' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(6.GB * task.attempt)}
  }
  withLabel: 'gatk4_haplotypecaller' {
    cpus = { 4 * task.attempt }
    memory = { 12.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'gatk4_index_feature_file' {
    cpus = { 4 * task.attempt }
    memory = { 4.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'gatk4_mutect' {
    cpus = { 4 * task.attempt }
    memory = { 6.GB.plus(6.GB * task.attempt)}
  }
  withLabel: 'gatk4_concat' {
    cpus = { 4 * task.attempt }
    memory = { 12.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'gatk4_get_pileup_summaries' {
    cpus = { 4 * task.attempt }
    memory = { 6.GB.plus(6.GB * task.attempt)}
  }
  withLabel: 'gatk4_get_calculate_contamination' {
    cpus = { 4 * task.attempt }
    memory = { 6.GB.plus(6.GB * task.attempt)}
  }
  withLabel: 'gatk4_learn_read_orientation_model' {
    cpus = { 4 * task.attempt }
    memory = { 6.GB.plus(6.GB * task.attempt)}
  }
}
