process {
  withLabel: 'pyclonevi_container' {
    container = 'docker://hub.ncsa.illinois.edu/phyloflow/pyclone-vi:latest'
    label = 'cloud'
  }
  withLabel: 'pyclonevi_fit' {
    cpus = { 4 * task.attempt }
    memory = { 8.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'pyclonevi_write_results_file' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB.plus(2.GB * task.attempt)}
  }
}
