process {
  withLabel: whatshap_container {                                                                   
    label = 'cloud'                                                                                 
    container = 'docker://cymbopogon/whatshap:1.2.1'                                                
  }                                                                                                 
  withLabel: whatshap {                                                                             
    cpus = { 4 * task.attempt }                                                                     
    memory = { 8.GB.plus(8.GB * task.attempt)}                                                      
  }                                                                                                 
  withLabel: whatshap_stats {                                                                       
    cpus = { 1 * task.attempt }                                                                     
    memory = { 2.GB.plus(2.GB * task.attempt)}                                                      
  } 
}
