process {
  withLabel: 'bbmap_container' {
    container = 'docker://nanozoo/bbmap:38.86--9ebcbfa'
  }
  withLabel: 'bbmap_samtools' {
    cpus = 32
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'bbmap_index' {
    cpus = { 16 * task.attempt }
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
  withLabel: 'bbmap' {
    cpus = 32
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
}
