process {
  withLabel: 'bcftools_container' {
    label = 'cloud'
    container = 'docker://dceoy/bcftools:latest'
  }
  withLabel: 'bcftools_consensus' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_filter' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_mpileup' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_index' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_sort' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_isec' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_merge' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_norm' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_query' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_concat' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_stats' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_reheader' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'bcftools_view' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB.plus(4.GB * task.attempt)}
  }
}
