process {
  withLabel: arcashla_container {
    label = 'cloud'
    container = 'docker://jfx319/arcashla:latest'
  }
  withLabel: arcashla_extract {
    cpus = 16 
    memory = { 16.GB.plus(16.GB * task.attempt)}
  }
  withLabel: arcashla_genotype {
    cpus =  32
    memory = { 16.GB.plus(16.GB * task.attempt)}
  }
}
